* {
	box-sizing: border-box;
	margin: 0; padding: 0;
	font-family: arial;
}

html, body {
	height: 100%; width: 100%;
	background-color: black;
	color: #CCC;
}

.brownieViewer {
	float: right;
}

.rasterGridContainer {
	float: left;
}

.sliceSelector {
	width: 100%;
}

.colorPalette {
	width: 480px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.color {
	width: 30px;
	height: 30px;
}

.toolbox {
	display: flex;
	flex-direction: column;
}
.tool {
	width: 30px;
	height: 30px;
	background-color: #555;
	cursor: pointer;
}
.tool.selected {
	color: white;
	font-weight: bold;
}