/*
	action: #4CE806;

 */

* {
	box-sizing: border-box;
	margin: 0; padding: 0;
	font-family: arial;
}

html, body {
	height: 100%; width: 100%;
	background-color: black;
	color: #CCC;
}

ul {
	list-style-type: none;
}

.hbox {
	display: flex;
	flex-direction: row;
}
.vbox {
	display: flex;
	flex-direction: column;
}
.vr {
	padding: 0 5px;
	border-left: solid 1px #555;
	height: 100%;
	width: 1px;
}
.hr {
	padding: 5px 0;
	border-top: solid 1px #555;
	height: 1px;
	width: 100%;
}


.wrappyWrapWrapWrap {
}

.brownieViewer {
}

.sliceEditor {
}

.sliceSelector {
	width: 100%;
}


/* BRUSH PROPERTIES SHEET */
.colorPalette {
	flex-wrap: wrap;
	padding: 5px;
}
.color {
	width: 30px;
	height: 30px;
}
.currentColor {
	width: calc(100% - 10px);
	height: 40px;
	margin: 5px;
	background-color: red;
}

/** FILE MENU **/
.fileMenu {
}
.fileMenu li {
	padding: 8px;
	color: #AAA;
	cursor: pointer;
	font-size: 1.4em;
}
.fileMenu li:hover {
	color: white;
} 


/** TOOLBOX and TOOLS **/
.toolbox {
	display: flex;
	flex-direction: column;
}
.tool {
	font-size: 1.4em;
	color: #AAA;
	cursor: pointer;
	display: inline;
	padding: 8px;
}
.tool:hover {
	color: white;
}
.tool.selected {
	color: #4CE806;
}
.tool.selecter:hover {
	color: inherit;
}

/** TOOL PROPERTIES **/
.toolProperties {
	background-color: #333;
	width: 200px;
	flex-shrink: 0;
}

.toolProperties label {
	display: inline-block;
	width: 55px;
	text-align: right;
	margin: 7px 0;
	font-size: .7em;
	text-transform: uppercase;
}
.toolProperties input {
	display: inline-block;
	margin: 7px 0 7px 5px;
}



.modalWrap {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	top: 0;
	left: 0;
	display: flex;
	align-items center;
}
.modal {
	width: 400px;
	background-color: white;
	margin: auto;
	color: #666;
}
.modal.fat {
	width: 800px;
}

.modal header {
	font-size: 1.4em;
	font-weight: bold;
	padding: 8px;
	border-bottom: dotted #CCC 1px;
}

.modal .content {
	padding: 8px;
}

.modal .actions {
	padding: 8px;
	justify-content: flex-end;
}



/* button reset */
button {
	background: none;
	border: none;
	margin: 0; padding: 0;
	width: auto;
	overflow: visible;
}



/* REUSABLE CLASSES */
.link, .btn {
	color: #555;
	padding: 8px 16px;
	cursor: pointer;
	margin: 4px;
	font-weight: bold;
}

.link:hover {
	text-decoration: underline;
	color: #226803;
}

.btn {
	background-color: #BBB;
	color: #555;
}
.btn:hover {
	background-color: #DDD;
}
.btn.primary {
	background-color: #4CE806;
	color: #386822;
}
.btn.primary:hover {
	background-color: #7EEC4D;
}
.btn.passive {
	background-color: transparent;
	color: #555;
	padding: 8px;
}
.btn.passive:hover {
	color: #333;
}

